* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}





.calculator {
    width: 310px;
    background-color: #918d8d;
    margin: auto;
    margin-top: 50px;
}

.calculator input {

    border: 0;
    outline: 0;
    height: 70px;
    width: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #201E20;
    color: white;
    border-radius: 8px;
    margin: 2px;
    cursor: pointer;
    /* background: transparent; */

}

#skm {
    width: 308px;
    height: 90px;
    background-color: rgb(10, 5, 5);
    font-size: 30px;
    color: white;
    text-align: right;
    padding: 0px 10px;
    box-shadow: none;
    border-radius: 0px;


}


input:active {
    position: relative;
    top: 1px;
}

input:hover {

    background-color: rgb(131, 127, 137);
    color: rgb(19, 19, 19);
    box-shadow: -8px -8px 15px rgb(26, 23, 23);

    /* border: 1px solid grey; */


}

form input.equal {
    width: 145px;
    /* background-color:#201E20; */
    font-size: 30px;
    color: green;
}